<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tassadar.yunifly"
    android:versionCode="7"
    android:versionName="7" >
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="com.tassadar.yunifly.YuniFlyclientActivity" android:label="@string/app_name" android:configChanges="orientation" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tassadar.yunifly.InfoActivity" android:label="@string/app_name" android:configChanges="orientation"></activity>
    </application>

</manifest>